/* download.css - Estilos específicos para la página de descarga */
.title {
    font-size: 3em;
    color: #0a3d62;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #0a3d62;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20%;
}
